
body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0 auto;
	width: 75%;
}

/*     */
/* NAV */
/*     */
nav {
	height: 80px;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top:0;
	left: 0;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: #333;
	height: 40px;
	padding: 30px 75px 10px 75px;
}

.nav-container {
	height: 80px;
}

.nav-link {
	float: right;
	padding-right
}

.twitter:hover {
	background: #ddd;
}

nav a:hover {
	background: #ff4040;
	color: #fff;
}

/* LOGO */

.logo {
	font-size: 18px;
	font-weight: 300;
}

.logo:hover {
	background: #fff;
	color: #ff4040;
}

/* TWITTER ICON */

.twitter-icon {
	width: 20px;
	height: 20px;
}

/*             */
/* HOME HEADER */
/*             */
  
header {
	background: url(../images/header-img.jpg);
		background-size: cover;
	height: 500px;
	color: #fff;
	margin-top: 75px;
}

header h1 {
	font-size: 65px;
	font-weight: 800;
	margin: 0 0 15px 0;
}

header h3 {
	padding-left: 10px;
	margin: 10px 0 5px 0;
}

header .container {
	padding-top: 200px;
}

/*              */
/* ABOUT HEADER */
/*              */

.about-header {
	background: #fff;
	color: #333;
	height: 400px;
}

.about-container {
	padding: 75px 0 0 125px;
}

.about-bio-container {
	width: 45%;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
}

.about-title {
	margin-bottom: 35px;
}

.about-header h2 {
	font-size: 30px;
	margin-bottom: 14px;
}

.taylor-span {
	color: #ff4040;
}

.about-main {
	background: #ff4040;
}

.about-main h1 {
	color: white;
}

.about-button {
	outline: none;
	border: 1px solid #fff;
	font-size: 22px;
	color: #fff;
	background: #ff4040;
	padding: 15px 40px;
}

.about-button:hover {
	border-radius: 8px;
	border: 1px solid #1b95e0;
	color: #1b95e0;
}

.about-button:active {
	background: #1b95e0;
	color: #fff;
	border: 1px solid #1b95e0;
}

/*                  */
/* PORTFOLIO HEADER */
/*                  */

.portfolio-header {
	background: #fff;
	color: #333;
	height: 250px;
}

.portfolio-container {
	width: 55%;
	margin: 0 auto;
	padding: 75px 0 0 0;
}

.portfolio-head-container {
	padding: 75px 0 0 125px;
}

.portfolio-container h1 {
	font-size: 40px;
	margin: 0 0 15px 0;
}

.portfolio-head-container h2 {
	font-size: 25px;
	font-weight: 300;
	line-height: 1.4;
	color: #ff4040;
	height: 500px;
}

.portfolio-container p {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 30px;
}

.portfolio-container img {
	display: block;
	margin: 0 auto 45px auto;
}

.portfolio-experince {
	background: #ff4040;
}

/* Portfolio Header Title */

.portfolio-head-container .portfolio-title {
	font-size: 60px;
	margin: 0;
}

/* Change project title color */

.projects h1{
	color: #ff4040;
}

/* Button on index that directs to portfolio */

.portfolio-button {
	outline: none;
	border: 1px solid #ff4040;
	font-size: 22px;
	color: #ff4040;
	background: #fff;
	padding: 15px 40px;
}

.portfolio-button:hover {
	border-radius: 8px;
}

.portfolio-button:active {
	color: #fff;
	background: #ff4040;
}

/* #ID */

#projects-title {
	color: #333;
	margin-bottom: 45px;
	font-size: 40px;
	margin: 75px 0 15px 125px;
}

/*      */
/* MAIN */
/*      */

main .container {
	padding-top: 100px;
	text-align: center;
	height: 380px;
}

main h1 {
	font-size: 75px;
	font-weight: 300;
	display: block;
	color: #ff4040;
	margin: 0 0 75px 0;
}

footer {
	background: #333;
	color: #ff4040;
	height: 120px;
	text-align: center;
	padding-top: 80px;
}

/*        */
/* FOOTER */
/*        */

footer h1 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}

footer h2 {
	font-weight: 300;
	margin-bottom: 25px;
}

footer p {
	color: #fff;
	font-weight: 300;
}
