body {
	font-family: 'Open Sans', sans-serif;
}


.container {
	margin: 0 auto;
	width: 75%;
}

/******/
nav {
	height: 80px;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top:0;
	left: 0;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: #333;
	height: 40px;
	padding: 30px 75px 10px 75px;
}

.nav-container {
	height: 80px;
}

.nav-link {
	float: right;
	padding-right
}

.twitter:hover {
	background: #ddd;
}

nav a:hover {
	background: #ff4040;
	color: #fff;
}

/******/

.logo {
	font-size: 18px;
	font-weight: 300;
}

.logo:hover {
	background: #fff;
	color: #ff4040;
}

/******/

.twitter-icon {
	width: 20px;
	height: 20px;
}

/******/

header {
	background: url(../images/header-img.jpg);
		background-size: cover;
	height: 500px;
	color: #fff;
	margin-top: 75px;
}

header h1 {
	font-size: 65px;
	font-weight: 800;
	margin: 0 0 15px 0;
}

header h3 {
	padding-left: 10px;
	margin: 10px 0 5px 0;
}

header .container {
	padding-top: 200px;
}

/******/

main .container {
	padding-top: 100px;
	text-align: center;
	height: 380px;
}

main h1 {
	font-size: 75px;
	font-weight: 300;
	display: block;
	color: #ff4040;
	margin: 0 0 75px 0;
}

.portfolio-button {
	outline: none;
	border: 1px solid #ff4040;
	font-size: 22px;
	color: #ff4040;
	background: #fff;
	padding: 15px 40px;
}

.portfolio-button:hover {
	border-radius: 8px;
}

.portfolio-button:active {
	color: #fff;
	background: #ff4040;
}

footer {
	background: #333;
	color: #ff4040;
	height: 120px;
	text-align: center;
	padding-top: 80px;
}

footer h1 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}

footer h2 {
	font-weight: 300;
	margin-bottom: 25px;
}

footer p {
	color: #fff;
	font-weight: 300;
}

